.about-container {
    width: 100%;
    background-color: rgba(247, 150, 33, 1);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.about-text-container {
    width: 1200px;
    background-color: rgba(247, 150, 33, 1);
    color: bisque;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 30px;

}
.about-text-container p{
  
    
    color: bisque;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}
@media only screen and (max-width: 1200px) {
    .about-text-container {
        width: 800px;
        color: white;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
    }
  }
  @media only screen and (max-width: 900px) {
    .about-text-container {
        width: 480px;
        color: white;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
    }
  }